/* Variables */
/*black*/
/*white*/
/*yellow*/
/* Mixins */
/* Keyframes */
@keyframes run-p {
  0% {
    margin-left: -1000px;
  }
  80% {
    margin-left: 100px;
    transform: rotate(2deg);
  }
  90% {
    margin-left: -10px;
    transform: rotate(-5deg);
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes run-title {
  0% {
    margin-left: -1000px;
  }
  80% {
    margin-left: 150px;
    transform: rotate(5deg);
  }
  90% {
    margin-left: -10px;
    transform: rotate(-5deg);
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes run-burger {
  0% {
    margin-left: -1000px;
  }
  80% {
    margin-left: 220px;
    transform: rotate(10deg);
  }
  90% {
    margin-left: -20px;
    transform: rotate(-5deg);
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes shake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
/* Elements principaux de la page */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.15;
  margin: 0;
}

#container {
  width: 100%;
  margin: auto;
}

h1, h2 {
  font-family: "Bebas Neue", cursive;
  color: #000000;
}

a {
  text-decoration: none;
}

.button {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 15px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  display: block;
  margin: 30px auto 10px auto;
  width: 120px;
  transition: all 500ms;
}
.button:hover {
  transform: scale(1.1);
}

/* Navigation bar */
nav {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 3;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
nav ul li {
  display: flex;
  align-items: stretch;
}
nav ul li a {
  color: #ffffff;
  border-bottom: 3px solid #000000;
  padding: 14px;
}
nav ul li a:hover {
  border-color: #ffd350;
}

/* Welcome Section */
.welcome-section {
  height: 100vh;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-section img {
  width: 150px;
  margin-bottom: 20px;
  animation: run-burger 1500ms cubic-bezier(0.22, 0.08, 0.45, 0.81) forwards;
}
.welcome-section h1 {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  line-height: 1;
  animation: run-title 1500ms cubic-bezier(0.22, 0.08, 0.45, 0.81) forwards;
  /*&:hover {
  	transform: scale(1.1);
  	padding: 10px;
  }*/
}
.welcome-section p {
  color: #ffd350;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  animation: run-p 1500ms cubic-bezier(0.22, 0.08, 0.45, 0.81) forwards;
}

/* Recipes Section */
.recipes-section {
  background-color: #ffd350;
  padding: 60px 10px;
}
.recipes-section h2 {
  font-size: 60px;
  text-align: center;
  margin: auto;
}
.recipes-section img._zigzagnoirsurjaune {
  width: 200px;
  display: block;
  margin: 0 auto 60px auto;
}

.categories-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.recipe-categorie {
  height: 300px;
  border-radius: 50%;
  width: 300px;
  overflow: hidden;
  text-align: center;
  background: black;
}
.recipe-categorie_image {
  width: 100%;
  filter: grayscale(100%);
  transition: all 200ms;
  opacity: 0.5;
}
.recipe-categorie:hover .recipe-categorie_image {
  opacity: 1;
  filter: grayscale(0);
}
.recipe-categorie_title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -190px;
  text-align: center;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 70px 10px 30px 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.contact-section h2 {
  font-size: 50px;
  margin: 0px;
}
.contact-section h2:hover {
  animation: shake 200ms 3;
}
.contact-section p {
  padding: 5px;
}

.contact-form h3 {
  text-align: left;
  padding-left: 5px;
}
.contact-form input, .contact-form textarea {
  transition: all 200ms;
}
.contact-form input:focus, .contact-form textarea:focus {
  border-color: #ffd350;
}
.contact-form input:not(:focus):invalid, .contact-form textarea:not(:focus):invalid {
  border-color: red;
}
.contact-form_name-mail {
  display: flex;
}
.contact-form_name, .contact-form_mail {
  width: 300px;
  margin: 5px;
  border: solid 2px #000000;
  font-family: "Montserrat", sans-serif;
  outline: 0;
}
.contact-form_message {
  width: 570px;
  height: 100px;
  margin: 5px;
  border: solid 2px #000000;
  font-family: "Montserrat", sans-serif;
  outline: 0;
}

/* Footer Section */
footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 40px;
}

/* PAGE INDEX RECETTES */
.recipes-title {
  padding-top: 100px;
}
.recipes-title h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.recipes-title img._zigzagnoirsurblanc {
  width: 190px;
  display: block;
  margin: 0 auto 60px auto;
}

.recipes-index {
  padding: 20px 40px;
}
.recipes-index h2 {
  font-size: 40px;
  text-align: left;
}
.recipes-index .categories-box {
  justify-content: flex-start;
}

.recipe-preview {
  margin-right: 40px;
  overflow: visible;
}
.recipe-preview:hover .recipe-preview_image {
  border: 3px solid #ffd350;
}
.recipe-preview:hover .recipe-preview_title {
  font-weight: bold;
}
.recipe-preview_image {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  height: 300px;
  border-radius: 50%;
  width: 300px;
  overflow: hidden;
}
.recipe-preview_title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

/* PAGE RECETTE */
.recipe-title {
  text-align: center;
  padding: 70px 0 20px 0;
  font-size: 50px;
}

.color-bloc {
  margin: auto;
  width: 80%;
  background-color: #ffd350;
  border-radius: 20px;
  position: relative;
  display: flex;
  padding-bottom: 80px;
}
.color-bloc_recipe-image {
  width: 400px;
  position: relative;
  top: 50px;
  left: 50px;
}

.recipe-details {
  background-color: #ffffff;
  width: 50%;
  padding: 10px;
  border: solid 2px #000000;
  margin: 90px 40px 0 0;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
