
/* Variables */

$primary-color: #000000; /*black*/
$secondary-color: #ffffff; /*white*/
$third-color: #ffd350; /*yellow*/

$title-font:'Bebas Neue', cursive;
$paragraph-font: 'Montserrat', sans-serif;


/* Mixins */

@mixin form-box {
	margin: 5px;
	border: solid 2px $primary-color;
	font-family: $paragraph-font;
	outline: 0;
}

@mixin circle {
	height: 300px;
	border-radius: 50%;
	width: 300px;
	overflow: hidden;
}

/* Elements principaux de la page */

* {
	box-sizing: border-box;
}

body
{
	font-family: $paragraph-font;
	color: $primary-color;
	background-color: $secondary-color;
	line-height: 1.15;
	margin: 0;
}

#container
{
	width: 100%;
	margin: auto;
}

h1, h2
{
	font-family: $title-font;
	color: $primary-color;
}

a
{
	text-decoration: none;
}

.button
{
	background-color: $primary-color;
	color: $secondary-color;
	font-weight: 600;
	text-align: center;
	padding: 15px 10px;
	border-radius: 10px;
	text-transform: uppercase;
	display: block;
	margin: 30px auto 10px auto;
	width: 120px;
	transition: all 500ms;

	&:hover {
		transform: scale(0.9);
	}
}


/* Navigation bar */

nav {
	background-color: $primary-color;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	z-index: 3;

	ul {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 100%;

		li {
			display:flex;
			align-items: stretch;

			a {
				color: $secondary-color;
				border-bottom: 2px solid $primary-color;
				padding: 15px;

				&:hover {
					border-color: $third-color;
				}

			}
		}

		
	}
}

/* Welcome Section */

.welcome-section
{
	height: 100vh;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 150px;
		margin: 20px;
	}

	h1 {
		font-size: 80px;
		font-weight: normal;
		text-align: center;
		margin: 0px;
		line-height: 1;
	}

	p {
		color: $third-color;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 900;
	}
}

/* Recipes Section */

.recipes-section
{
	background-color: $third-color;
	padding: 60px 10px;

	h2 {
		font-size: 60px;
		text-align: center;
		margin: 0px auto 60px auto;
	}
}

.categories-box
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
}

.recipe-categorie
{
	@include circle;
	text-align: center;
	background: black;


	&_image {
		
		width: 100%;
		filter: grayscale(100%);
		transition: all 200ms;
		opacity: 0.5;
	}

	&:hover &_image {
		opacity: 1;
		filter: grayscale(0);
	}

	&_title {
		color: $secondary-color;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		top: -190px;
		text-align: center;
	}
}



/* Contact Section */

.contact-section 
{
	text-align: center;
	padding: 70px 10px 30px 10px;
	width: 600px;
	display: flex;
	flex-direction: column;
	margin: auto;
	
	h2{
		font-size: 50px;
		margin: 0px;
	}

	p{
		padding: 5px;
	}
}

.contact-form
{
	h3 {
		text-align: left;
		padding-left: 5px;
	}

	input, textarea {
		transition: all 200ms;

		&:focus {
			border-color: $third-color;
		}
		&:not(:focus):invalid {
			border-color: red;
		}
	}

	&_name-mail {
		display: flex;
	}

	&_name, &_mail {
		width: 300px;
		@include form-box;
	}

	&_message {
		width: 570px;
		height: 100px;
		@include form-box;
	}
}

/* Footer Section */

footer {
	background-color: $primary-color;
	color: $secondary-color;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	font-size: 12px;
	margin-top: 40px;
}


/* PAGE INDEX RECETTES */


.recipes-title {
	padding-top: 50px;

	h1 {
		text-align: center;
		font-size: 60px;
	}
}

.recipes-index {
	padding: 20px 40px;

	h2 {
		font-size: 40px;
		text-align: left;
	}

	.categories-box {
		justify-content: flex-start;
	}
}

.recipe-preview {
	
	margin-right: 40px;
	overflow: visible;

	&_image {
		
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		@include circle;
	}

	&_title {
		color: $primary-color;
		text-transform: uppercase;
		text-align: center;
	}
}

/* PAGE RECETTE */

.recipe-title {
	text-align: center;
	padding: 70px 0 20px 0;
    font-size: 50px;
	}

.color-bloc {
	margin: auto;
	width: 80%;
	background-color: $third-color;
	border-radius: 20px;
	position: relative;
	display: flex;
	padding-bottom: 80px;

	&_recipe-image {
		width: 400px;
		position: relative;
		top: 50px;
		left: 50px;
	}
}

.recipe-details {
	background-color: $secondary-color;
	width: 50%;
	padding: 10px;
	border: solid 2px $primary-color;
	margin: 90px 40px 0 0;
    z-index: 2;
	}

